.posCenter {
    background-position: center!important;
}


.single-portfolio {
    height: 260px;
    margin-bottom: 15px;
    background-position: top;
    background-size: cover;
    background-color: #ffffff;
    padding: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  
  .single-portfolio:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -webkit-transition: .3s;
    transition: .3s;
    z-index: -1;
  }
  
  .single-portfolio:hover:after {
    height: 100%;
  }
  
  .portfolio-icon {
    position: absolute;
    top: 100%;
    margin-top: -20px;
    left: 50%;
    margin-left: -20px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    -webkit-transition: .6s;
    transition: .6s;
  }
  
  .single-portfolio:hover .portfolio-icon {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
    top: 50%
  }
  
  .portfolio-icon a {
     font-size: 20px;
    color: #fff;
    width: 50%;
    height: 50%;
    display: inline-block;
    -webkit-transition: .3s;
    transition: .3s;
    transform-origin: center;
  }
  
  .portfolio-icon a:hover {
     transform: scale(1.2);
    font-size: 25px;
  }
 

  .portfolio-hover h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: .2rem 0;
  }
  
  .portfolio-hover {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -60px;
    padding: 5px;
    z-index: 1;
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
  }
  
  .portfolio-hover:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: '';
/*     background-color: #000; */
    z-index: -1;
  }
  
  .single-portfolio:hover .portfolio-hover {
    bottom: 33%;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible
  }
  
